.s-catalog {
  padding: 30px 0px 60px 0px;
  @include laptop-min {
    padding: 0px 0px 50px 0px;
    overflow: hidden;
  }
  &__wrapper {
    display: flex;
    align-items: start;
    gap: 45px;
    @include laptop {
      gap: 24px;
    }
    @include laptop-min {
      flex-direction: column;
    }
  }
  &__sidebar {
    position: sticky;
    top: 20px;
    width: 315px;
    flex-shrink: 0;
    @include laptop-min {
      display: none;
    }
  }
  &__categories {
    border-radius: 20px;
    padding: 32px 48px;
    background-color: white;
    @include laptop-middle {
      padding: 24px 16px;
    }
  }
  &__categories-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 125%;
    margin-bottom: 16px;
  }
  &__categories-list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    a {
      color: var(--black-55);
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;

      transition: color 0.3s ease;

      @include hover {
        color: var(--blue);
      }
    }
  }
  &__help {
    border-radius: 20px;
    padding: 24px;
    background-color: white;
    margin-top: 16px;
    @include laptop-min {
      padding: 16px;
    }
    @include tablet {
      padding: 12px;
      display: flex;
      align-items: center;
      gap: 25px;
    }
  }
  &__help-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 125%;
    margin: 0px 0px 16px 0px;
    @include tablet {
      font-weight: 400;
      font-size: 15px;
      line-height: 133%;
      margin-bottom: 12px;

      br {
        display: none;
      }
    }
  }
  &__help-descr {
    font-size: 14px;
    line-height: 157%;
    color: var(--black-87);
    margin: 0px 0px 16px 0px;
    @include tablet {
      font-size: 12px;
      line-height: 133%;
      color: var(--black-55);
      margin: 0;
    }
  }
  &__help-btn {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 6px;

    font-size: 16px;
    line-height: 150%;

    color: #1472cf;

    @include hover {
      svg {
        transform: translateX(5px);
      }
    }
    @include tablet {
      flex-shrink: 0;
      color: var(--dark);
      span {
        display: none;
      }
    }

    svg {
      width: 14px;
      height: 14px;

      transition: transform 0.3s ease;

      @include tablet {
        width: 20px;
        height: 20px;
      }
    }
  }
  &__main {
    flex: 1;
  }
  &__head {
    @include flex-between;
    width: 100%;
    gap: 15px;
    margin-bottom: 40px;
    @include laptop-min {
      display: block;
    }
    @include tablet {
      margin-bottom: 16px;
    }
  }
  &__filters {
    @include laptop-min {
      @include flex-between;
      width: 100%;
      margin-top: 8px;
    }
    select {
      cursor: pointer;
      background-color: transparent;
      border: none;
      outline: none;

      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      font-weight: 500;
      font-size: 14px;
      line-height: 157%;
      letter-spacing: -0.04em;
      color: var(--black-55);
      padding-left: 24px;

      background: url("@img/sort.svg") center left 0 / 18px auto no-repeat;

      transition: color .3s ease;
      @include hover {
        color: var(--blue);
      }

      @include laptop-min {
        font-weight: 400;
        padding: 4px 36px 4px 12px;
        background: url("@img/sort-mobile.svg") center right 12px / 20px auto
          no-repeat;
      }
    }
  }
  &__filters-open {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px 12px;

    font-size: 14px;
    line-height: 157%;
    color: var(--black-55);

    transition: color 0.3s ease;

    @include hover {
      color: var(--blue);
    }
    @media (min-width: 992px) {
      display: none;
    }

    svg {
      width: 20px;
      height: 20px;
      color: var(--black-32);
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    @include laptop {
      grid-template-columns: repeat(2, 1fr);
    }
    @include tablet {
      gap: 16px;
    }
    @include tablet-min {
      gap: 8px;
      row-gap: 16px;
    }

    .card-product {
      &__slide {
        aspect-ratio: 1/1.21;
      }
    }
  }
  &__more-btn {
    cursor: pointer;
    width: fit-content;
    margin: 24px auto 0px auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 157%;
    letter-spacing: -0.04em;
    color: var(--blue);

    transition: color 0.3s ease;
    @include hover {
      color: black;
    }
  }
}
