:root {
  --primary: #ffdd00;
  --dark: #3d3d3d;
  --orange: #ef8b17;
  --blue: #1874cf;

  --gray: #f6f6f6;

  --white-55: rgba(255, 255, 255, 0.55);

  --black-55: rgba(0, 0, 0, 0.55);
  --black-32: rgba(0, 0, 0, 0.32);
  --black-87: rgba(0, 0, 0, 0.87);
  --black-10: rgba(0, 0, 0, 0.1);
}
