<div class="header-top">
  <div class="container">
    <div class="header-top__wrapper">
      <nav class="header-top__nav">
        <ul class="list header-top__list">
          <li><a href="#">Наши проекты</a></li>
          <li><a href="#">Цены</a></li>
          <li><a href="#">О компании</a></li>
          <li><a href="#">Об HPL</a></li>
          <li><a href="#">Отзывы</a></li>
          <li><a href="#">Партнёрам</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </nav>
      <div class="header-top__contacts">
        <a href="mailto:sale@hpl-krafter.ru" class="header-top__contacts-btn">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-mail"></use>
          </svg>
          <span>sale@hpl-krafter.ru</span>
        </a>
        <a href="tel:88006006122" class="header-top__contacts-btn">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-mail"></use>
          </svg>
          <span>8 800 600 61 22</span>
        </a>
      </div>
    </div>
  </div>
</div>
<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a href="/" class="header__logo">
        <img src="@img/logo.svg" alt="logo" />
      </a>
      <div class="header__nav">
        <ul class="list header__list">
          <li class="dropdown">
            <a href="#">
              <span>Заказная продукция</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-down"></use>
              </svg>
            </a>
            <div class="dropdown__body">
              <div class="dropdown__inside">
                <ul class="list dropdown__list">
                  <li><a href="#">Другая категория</a></li>
                  <li><a href="#">Другая категория</a></li>
                  <li><a href="#">Другая категория</a></li>
                  <li><a href="#">Другая категория</a></li>
                  <li><a href="#">Другая категория</a></li>
                  <li><a href="#">Другая категория</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li class="dropdown">
            <a href="#">
              <span>Готовая продукция</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-down"></use>
              </svg>
            </a>
            <div class="dropdown__body">
              <div class="dropdown__inside">
                <ul class="list dropdown__list">
                  <li><a href="#">Другая категория</a></li>
                  <li><a href="#">Другая категория</a></li>
                  <li><a href="#">Другая категория</a></li>
                  <li><a href="#">Другая категория</a></li>
                  <li><a href="#">Другая категория</a></li>
                  <li><a href="#">Другая категория</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li class="dropdown">
            <a href="#">
              <span>Каталог декоров</span>
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-down"></use>
              </svg>
            </a>
            <div class="dropdown__body">
              <div class="dropdown__inside">
                <ul class="list dropdown__list">
                  <li><a href="#">Другая категория</a></li>
                  <li><a href="#">Другая категория</a></li>
                  <li><a href="#">Другая категория</a></li>
                  <li><a href="#">Другая категория</a></li>
                  <li><a href="#">Другая категория</a></li>
                  <li><a href="#">Другая категория</a></li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
        <div class="header__buttons">
          <div class="header__btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-search"></use>
            </svg>
          </div>
          <a href="#" class="header__btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-cart"></use>
            </svg>
          </a>
          <a href="#" class="btn-s header__order-btn">
            <span>Заказать звонок</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-next"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="header__burger-btn" id="burger-open">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-burger"></use>
        </svg>
      </div>
    </div>
  </div>
</header>

<div class="burger-overlay" id="burger-overlay"></div>
<div class="burger" id="burger">
  <div class="burger__body">
    <div class="burger__head">
      <a href="/" class="burger__logo">
        <img src="@img/logo.svg" alt="logo" />
      </a>
      <div class="burger__close" id="burger-close">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-close"></use>
        </svg>
      </div>
    </div>
    <div data-spollers class="burger__spollers">
      <div class="burger__spoller">
        <div data-spoller class="burger__spoller-btn">
          <a href="#">Заказная продукция</a>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-down"></use>
          </svg>
        </div>
        <div>
          <div class="burger__spoller-body">
            <div class="burger__spoller-head">
              Производится серийно в стандартных размерах и дизайнах, быстро
              доступна.
            </div>
            <ul data-spollers class="list burger__spoller-list">
              <li>
                <div data-spoller class="spoller-btn">
                  <span>Сантехнические перегородки</span>
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-down"></use>
                  </svg>
                </div>
                <div>
                  <ul class="list burger__sublist">
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <div data-spoller class="spoller-btn">
                  <span>Сантехнические перегородки</span>
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-down"></use>
                  </svg>
                </div>
                <div>
                  <ul class="list burger__sublist">
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <div data-spoller class="spoller-btn">
                  <span>Сантехнические перегородки</span>
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-down"></use>
                  </svg>
                </div>
                <div>
                  <ul class="list burger__sublist">
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <div data-spoller class="spoller-btn">
                  <span>Сантехнические перегородки</span>
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-down"></use>
                  </svg>
                </div>
                <div>
                  <ul class="list burger__sublist">
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <div data-spoller class="spoller-btn">
                  <span>Сантехнические перегородки</span>
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-down"></use>
                  </svg>
                </div>
                <div>
                  <ul class="list burger__sublist">
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="burger__spoller">
        <div data-spoller class="burger__spoller-btn">
          <a href="#">Готовая продукция</a>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-down"></use>
          </svg>
        </div>
        <div>
          <div class="burger__spoller-body">
            <div class="burger__spoller-head">
              Производится серийно в стандартных размерах и дизайнах, быстро
              доступна.
            </div>
            <ul data-spollers class="list burger__spoller-list">
              <li>
                <div data-spoller class="spoller-btn">
                  <span>Сантехнические перегородки</span>
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-down"></use>
                  </svg>
                </div>
                <div>
                  <ul class="list burger__sublist">
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <div data-spoller class="spoller-btn">
                  <span>Сантехнические перегородки</span>
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-down"></use>
                  </svg>
                </div>
                <div>
                  <ul class="list burger__sublist">
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <div data-spoller class="spoller-btn">
                  <span>Сантехнические перегородки</span>
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-down"></use>
                  </svg>
                </div>
                <div>
                  <ul class="list burger__sublist">
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <div data-spoller class="spoller-btn">
                  <span>Сантехнические перегородки</span>
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-down"></use>
                  </svg>
                </div>
                <div>
                  <ul class="list burger__sublist">
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <div data-spoller class="spoller-btn">
                  <span>Сантехнические перегородки</span>
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-down"></use>
                  </svg>
                </div>
                <div>
                  <ul class="list burger__sublist">
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="burger__spoller">
        <div data-spoller class="burger__spoller-btn">
          <a href="#">Каталог декоров</a>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-down"></use>
          </svg>
        </div>
        <div>
          <div class="burger__spoller-body">
            <div class="burger__spoller-head">
              Производится серийно в стандартных размерах и дизайнах, быстро
              доступна.
            </div>
            <ul data-spollers class="list burger__spoller-list">
              <li>
                <div data-spoller class="spoller-btn">
                  <span>Сантехнические перегородки</span>
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-down"></use>
                  </svg>
                </div>
                <div>
                  <ul class="list burger__sublist">
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <div data-spoller class="spoller-btn">
                  <span>Сантехнические перегородки</span>
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-down"></use>
                  </svg>
                </div>
                <div>
                  <ul class="list burger__sublist">
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <div data-spoller class="spoller-btn">
                  <span>Сантехнические перегородки</span>
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-down"></use>
                  </svg>
                </div>
                <div>
                  <ul class="list burger__sublist">
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <div data-spoller class="spoller-btn">
                  <span>Сантехнические перегородки</span>
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-down"></use>
                  </svg>
                </div>
                <div>
                  <ul class="list burger__sublist">
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <div data-spoller class="spoller-btn">
                  <span>Сантехнические перегородки</span>
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-down"></use>
                  </svg>
                </div>
                <div>
                  <ul class="list burger__sublist">
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <ul class="list burger__list">
      <li>
        <a href="#">
          <span>Наши проекты</span>
        </a>
      </li>
      <li><a href="#">Цены</a></li>
      <li><a href="#">О компании</a></li>
      <li><a href="#">Об HPL</a></li>
      <li><a href="#">Отзывы</a></li>
      <li><a href="#">Партнёрам</a></li>
      <li><a href="#">Контакты</a></li>
    </ul>
    <div class="burger__contacts">
      <div class="burger__contacts-buttons">
        <a href="mailto:sale@hpl-krafter.ru" class="burger__contacts-btn">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-mail"></use>
          </svg>
          <span>sale@hpl-krafter.ru</span>
        </a>
        <a href="tel:88006006122" class="burger__contacts-btn">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-mail"></use>
          </svg>
          <span>8 800 600 61 22</span>
        </a>
      </div>
      <a href="#modal-order" class="btn-s burger__btn-order">Заказать звонок</a>
    </div>
  </div>
</div>
