<section class="intro">
  <div class="swiper intro__slider">
    <div class="swiper-wrapper">
      <div
        class="swiper-slide intro__slide"
        style="
          background: url(&quot;@img/intro.jpg&quot;) center / cover no-repeat;
        "
      >
        <div class="container">
          <div class="intro__slide-info">
            <h2 class="intro__slide-title s-title">
              HPL Compact — универсальный материал
            </h2>
            <p class="intro__slide-content">
              Инновационный материал для архитектуры, мебели и интерьеров,
              который выдерживает экстремальные условия. Он прочный,
              влагостойкий, пожаробезопасный.
            </p>
            <div class="intro__buttons">
              <a href="#" class="btn-s _white">
                <span>О материале</span>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-next"></use>
                </svg>
              </a>
              <a href="#" class="btn-s _outline-white">
                <span>В каталог</span>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-next"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        class="swiper-slide intro__slide"
        style="
          background: url(&quot;@img/intro.jpg&quot;) center / cover no-repeat;
        "
      >
        <div class="container">
          <div class="intro__slide-info">
            <h2 class="intro__slide-title s-title">
              HPL Compact — универсальный материал
            </h2>
            <p class="intro__slide-content">
              Инновационный материал для архитектуры, мебели и интерьеров,
              который выдерживает экстремальные условия. Он прочный,
              влагостойкий, пожаробезопасный.
            </p>
            <div class="intro__buttons">
              <a href="#" class="btn-s _white">
                <span>О материале</span>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-next"></use>
                </svg>
              </a>
              <a href="#" class="btn-s _outline-white">
                <span>В каталог</span>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-next"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        class="swiper-slide intro__slide"
        style="
          background: url(&quot;@img/intro.jpg&quot;) center / cover no-repeat;
        "
      >
        <div class="container">
          <div class="intro__slide-info">
            <h2 class="intro__slide-title s-title">
              HPL Compact — универсальный материал
            </h2>
            <p class="intro__slide-content">
              Инновационный материал для архитектуры, мебели и интерьеров,
              который выдерживает экстремальные условия. Он прочный,
              влагостойкий, пожаробезопасный.
            </p>
            <div class="intro__buttons">
              <a href="#" class="btn-s _white">
                <span>О материале</span>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-next"></use>
                </svg>
              </a>
              <a href="#" class="btn-s _outline-white">
                <span>В каталог</span>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-next"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="intro__pagination-slider"></div>
  </div>
  <div class="intro__adv">
    <div class="intro__adv-item">
      <div class="intro__adv-drop">
        <div class="intro__adv-inside">
          <h5 class="intro__adv-title">Влагостойкость</h5>
          <div class="intro__adv-descr">
            Материал является стойким ко влаге и пару, рекомендован к применению
            на улице и влажной среде
          </div>
          <a
            href="//github.com/mediaelement/mediaelement-files/blob/master/big_buck_bunny.mp4?raw=true"
            data-fancybox
            class="btn-simple intro__adv-video-btn"
          >
            <span>Смотреть видео</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-next"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="intro__adv-btn">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-drop"></use>
        </svg>
      </div>
    </div>
    <div class="intro__adv-item">
      <div class="intro__adv-drop">
        <div class="intro__adv-inside">
          <h5 class="intro__adv-title">Влагостойкость</h5>
          <div class="intro__adv-descr">
            Материал является стойким ко влаге и пару, рекомендован к применению
            на улице и влажной среде
          </div>
          <a
            href="//github.com/mediaelement/mediaelement-files/blob/master/big_buck_bunny.mp4?raw=true"
            data-fancybox
            class="btn-simple intro__adv-video-btn"
          >
            <span>Смотреть видео</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-next"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="intro__adv-btn">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-fire"></use>
        </svg>
      </div>
    </div>
    <div class="intro__adv-item">
      <div class="intro__adv-drop">
        <div class="intro__adv-inside">
          <h5 class="intro__adv-title">Влагостойкость</h5>
          <div class="intro__adv-descr">
            Материал является стойким ко влаге и пару, рекомендован к применению
            на улице и влажной среде
          </div>
          <a
            href="//github.com/mediaelement/mediaelement-files/blob/master/big_buck_bunny.mp4?raw=true"
            data-fancybox
            class="btn-simple intro__adv-video-btn"
          >
            <span>Смотреть видео</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-next"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="intro__adv-btn">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-shield"></use>
        </svg>
      </div>
    </div>
    <div class="intro__adv-item">
      <div class="intro__adv-drop">
        <div class="intro__adv-inside">
          <h5 class="intro__adv-title">Влагостойкость</h5>
          <div class="intro__adv-descr">
            Материал является стойким ко влаге и пару, рекомендован к применению
            на улице и влажной среде
          </div>
          <a
            href="//github.com/mediaelement/mediaelement-files/blob/master/big_buck_bunny.mp4?raw=true"
            data-fancybox
            class="btn-simple intro__adv-video-btn"
          >
            <span>Смотреть видео</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-next"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="intro__adv-btn">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-bact"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
