<section class="s-center sect-m">
  <div class="container tabs">
    <div class="sect-head">
      <h2 class="s-title">Пресс-центр</h2>
      <a href="#" class="btn-simple">
        <span>Перейти в пресс-центр</span>
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-next"></use>
        </svg>
      </a>
    </div>
    <div class="s-center__nav">
      <div data-tab-btn="tab-1" class="s-center__nav-btn _active">
        <span>Все публикации</span>
      </div>
      <div data-tab-btn="tab-2" class="s-center__nav-btn">
        <img src="@img/flash.svg" alt="icon" />
        <span>Новости</span>
        <div class="number">2</div>
      </div>
      <div data-tab-btn="tab-3" class="s-center__nav-btn">
        <img src="@img/book.svg" alt="icon" />
        <span>Статьи</span>
        <div class="number">1</div>
      </div>
      <div data-tab-btn="tab-4" class="s-center__nav-btn">
        <img src="@img/play.svg" alt="icon" />
        <span>Видеоблог</span>
      </div>
    </div>
    <div data-tab="tab-1" class="_active">
      <div class="s-center__grid">
        <div class="card">
          <div class="card-article">
            <a href="#" class="tag">
              <img src="@img/book.svg" alt="icon" />
              <span>Статьи</span>
            </a>
            <a href="#" class="card-article__gallery">
              <img
                src="@img/article.jpg"
                alt="image"
                class="card-article__img"
              />
            </a>
            <a href="#" class="card-article__body">
              <h5 class="card-article__title">
                Технология производства HPL (декоративных бумажно-слоистых
                пластиков)
              </h5>
              <div class="card-article__date">20.07.2025</div>
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-article">
            <a href="#" class="tag">
              <img src="@img/book.svg" alt="icon" />
              <span>Статьи</span>
            </a>
            <a href="#" class="card-article__gallery">
              <img
                src="@img/article.jpg"
                alt="image"
                class="card-article__img"
              />
            </a>
            <a href="#" class="card-article__body">
              <h5 class="card-article__title">
                Технология производства HPL (декоративных бумажно-слоистых
                пластиков)
              </h5>
              <div class="card-article__date">20.07.2025</div>
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-video">
            <div class="card-video__time">24:32</div>
            <a href="#" class="tag">
              <img src="@img/play.svg" alt="icon" />
              <span>Видеоблог</span>
            </a>
            <a
              href="//github.com/mediaelement/mediaelement-files/blob/master/big_buck_bunny.mp4?raw=true"
              data-fancybox
              class="card-video__play-btn"
            >
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-play"></use>
              </svg>
            </a>
            <a href="#" class="card-video__link"></a>
            <img src="@img/video.jpg" alt="image" class="card-video__img" />
            <a href="#" class="card-video__body">
              <div class="card-video__date">20.07.2025</div>
              <p class="card-video__descr">
                Только этим летом у вас есть возможность приобрести листовой HPL
                пластик «Дуб Бородино», «Дуб Московский» и десятки других
                востребованных декоров по особой цене! Акция распространяется на
                материал толщиной 6 и 12 мм, который всегда в наличии на нашем
                складе в Москве.
              </p>
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-new">
            <a href="#" class="card-new__link"></a>
            <a href="#" class="tag">
              <img src="@img/flash.svg" alt="icon" />
              <span>Новости</span>
            </a>
            <img src="@img/new.jpg" alt="image" class="card-new__img" />
            <a href="#" class="card-new__body">
              <h5 class="card-new__title">BUSINESS & DESIGN DIALOGUE 2025</h5>
              <div class="card-new__date">20.07.2025</div>
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-article">
            <a href="#" class="tag">
              <img src="@img/book.svg" alt="icon" />
              <span>Статьи</span>
            </a>
            <a href="#" class="card-article__gallery">
              <img
                src="@img/article.jpg"
                alt="image"
                class="card-article__img"
              />
            </a>
            <a href="#" class="card-article__body">
              <h5 class="card-article__title">
                Технология производства HPL (декоративных бумажно-слоистых
                пластиков)
              </h5>
              <div class="card-article__date">20.07.2025</div>
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-article">
            <a href="#" class="tag">
              <img src="@img/book.svg" alt="icon" />
              <span>Статьи</span>
            </a>
            <a href="#" class="card-article__gallery">
              <img
                src="@img/article.jpg"
                alt="image"
                class="card-article__img"
              />
            </a>
            <a href="#" class="card-article__body">
              <h5 class="card-article__title">
                Технология производства HPL (декоративных бумажно-слоистых
                пластиков)
              </h5>
              <div class="card-article__date">20.07.2025</div>
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-new">
            <a href="#" class="card-new__link"></a>
            <a href="#" class="tag">
              <img src="@img/flash.svg" alt="icon" />
              <span>Новости</span>
            </a>
            <img src="@img/new.jpg" alt="image" class="card-new__img" />
            <a href="#" class="card-new__body">
              <h5 class="card-new__title">BUSINESS & DESIGN DIALOGUE 2025</h5>
              <div class="card-new__date">20.07.2025</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div data-tab="tab-2">
      <div class="s-center__grid">
        <div class="card">
          <div class="card-new">
            <a href="#" class="card-new__link"></a>
            <a href="#" class="tag">
              <img src="@img/flash.svg" alt="icon" />
              <span>Новости</span>
            </a>
            <img src="@img/new.jpg" alt="image" class="card-new__img" />
            <a href="#" class="card-new__body">
              <h5 class="card-new__title">BUSINESS & DESIGN DIALOGUE 2025</h5>
              <div class="card-new__date">20.07.2025</div>
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-article">
            <a href="#" class="tag">
              <img src="@img/book.svg" alt="icon" />
              <span>Статьи</span>
            </a>
            <a href="#" class="card-article__gallery">
              <img
                src="@img/article.jpg"
                alt="image"
                class="card-article__img"
              />
            </a>
            <a href="#" class="card-article__body">
              <h5 class="card-article__title">
                Технология производства HPL (декоративных бумажно-слоистых
                пластиков)
              </h5>
              <div class="card-article__date">20.07.2025</div>
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-new">
            <a href="#" class="card-new__link"></a>
            <a href="#" class="tag">
              <img src="@img/flash.svg" alt="icon" />
              <span>Новости</span>
            </a>
            <img src="@img/new.jpg" alt="image" class="card-new__img" />
            <a href="#" class="card-new__body">
              <h5 class="card-new__title">BUSINESS & DESIGN DIALOGUE 2025</h5>
              <div class="card-new__date">20.07.2025</div>
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-article">
            <a href="#" class="tag">
              <img src="@img/book.svg" alt="icon" />
              <span>Статьи</span>
            </a>
            <a href="#" class="card-article__gallery">
              <img
                src="@img/article.jpg"
                alt="image"
                class="card-article__img"
              />
            </a>
            <a href="#" class="card-article__body">
              <h5 class="card-article__title">
                Технология производства HPL (декоративных бумажно-слоистых
                пластиков)
              </h5>
              <div class="card-article__date">20.07.2025</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div data-tab="tab-3">
      <div class="s-center__grid">
        <div class="card">
          <div class="card-article">
            <a href="#" class="tag">
              <img src="@img/book.svg" alt="icon" />
              <span>Статьи</span>
            </a>
            <a href="#" class="card-article__gallery">
              <img
                src="@img/article.jpg"
                alt="image"
                class="card-article__img"
              />
            </a>
            <a href="#" class="card-article__body">
              <h5 class="card-article__title">
                Технология производства HPL (декоративных бумажно-слоистых
                пластиков)
              </h5>
              <div class="card-article__date">20.07.2025</div>
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-new">
            <a href="#" class="card-new__link"></a>
            <a href="#" class="tag">
              <img src="@img/flash.svg" alt="icon" />
              <span>Новости</span>
            </a>
            <img src="@img/new.jpg" alt="image" class="card-new__img" />
            <a href="#" class="card-new__body">
              <h5 class="card-new__title">BUSINESS & DESIGN DIALOGUE 2025</h5>
              <div class="card-new__date">20.07.2025</div>
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-article">
            <a href="#" class="tag">
              <img src="@img/book.svg" alt="icon" />
              <span>Статьи</span>
            </a>
            <a href="#" class="card-article__gallery">
              <img
                src="@img/article.jpg"
                alt="image"
                class="card-article__img"
              />
            </a>
            <a href="#" class="card-article__body">
              <h5 class="card-article__title">
                Технология производства HPL (декоративных бумажно-слоистых
                пластиков)
              </h5>
              <div class="card-article__date">20.07.2025</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div data-tab="tab-4">
      <div class="s-center__grid">
        <div class="card">
          <div class="card-article">
            <a href="#" class="tag">
              <img src="@img/book.svg" alt="icon" />
              <span>Статьи</span>
            </a>
            <a href="#" class="card-article__gallery">
              <img
                src="@img/article.jpg"
                alt="image"
                class="card-article__img"
              />
            </a>
            <a href="#" class="card-article__body">
              <h5 class="card-article__title">
                Технология производства HPL (декоративных бумажно-слоистых
                пластиков)
              </h5>
              <div class="card-article__date">20.07.2025</div>
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-article">
            <a href="#" class="tag">
              <img src="@img/book.svg" alt="icon" />
              <span>Статьи</span>
            </a>
            <a href="#" class="card-article__gallery">
              <img
                src="@img/article.jpg"
                alt="image"
                class="card-article__img"
              />
            </a>
            <a href="#" class="card-article__body">
              <h5 class="card-article__title">
                Технология производства HPL (декоративных бумажно-слоистых
                пластиков)
              </h5>
              <div class="card-article__date">20.07.2025</div>
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-new">
            <a href="#" class="card-new__link"></a>
            <a href="#" class="tag">
              <img src="@img/flash.svg" alt="icon" />
              <span>Новости</span>
            </a>
            <img src="@img/new.jpg" alt="image" class="card-new__img" />
            <a href="#" class="card-new__body">
              <h5 class="card-new__title">BUSINESS & DESIGN DIALOGUE 2025</h5>
              <div class="card-new__date">20.07.2025</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
