.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  font-family: "Inter", sans-serif;

  font-weight: 500;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: -0.04em;
  color: var(--black-55);

  @include laptop-min {
    padding: 12px 15px;
    background-color: white;
    margin: 0 -15px;
    width: 100vw;
  }
  @include tablet {
    font-size: 12px;
    line-height: 125%;
  }

  &._bn {
    .breadcrumbs-prev {
      display: none;
    }
    .breadcrumbs-separator {
      display: none;
    }
    .aioseo-breadcrumbs {
      gap: 8px;
    }
    .aioseo-breadcrumb-separator {
      font-size: 0;
      opacity: 0.32;
      width: 10px;
      height: 10px;
      background: url('@img/arrow-next.svg') center / 100% auto no-repeat;
    }
    .aioseo-breadcrumb:last-child {
      font-weight: 500;
      color: var(--black-87);
    }

    @include laptop-min {
      width: fit-content;
      background-color: transparent;
      margin: 0;
      padding: 0;

      .aioseo-breadcrumbs {
        display: none;
      }
      .breadcrumbs-prev {
        display: block;
        width: 20px;
        height: 20px;

        span {
          display: none;
        }
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  a {
    color: var(--black-55);

    transition: color 0.3s ease;

    @include hover {
      color: var(--primary);
    }
  }
}
.breadcrumbs-prev {
  display: flex;
  align-items: center;
  gap: 8px;

  svg {
    width: 12px;
    height: 12px;
    color: var(--dark);
    @include laptop-min {
      width: 20px;
      height: 20px;
    }
  }
}
.breadcrumbs-separator {
  color: var(--black-32);
  width: 1px;
  height: 14px;
  border-radius: 2px;
  background-color: currentColor;
}
.aioseo-breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}
.aioseo-breadcrumb-separator {
}
