.card-product {
  display: flex;
  flex-direction: column;
  &__gallery {
    position: relative;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    aspect-ratio: 1/1.24;
    z-index: 1;
    margin-bottom: 16px;

    transition: opacity 0.3s ease;

    @include hover {
      opacity: 0.8;
    }

    img {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -2;
    }
  }
  &__size {
    position: absolute;
    padding: 10px 16px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 0 20px;
    line-height: 150%;
    box-shadow: 0 0 53px 0 rgba(32, 31, 37, 0.03);
    background-color: var(--primary);
    left: 0;
    bottom: 0;

    @include tablet {
      font-size: 14px;
      padding: 6px 12px;
    }
  }
  &__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 144%;
    margin: 0px 0px 4px 0px;

    transition: color 0.3s ease;

    @include hover {
      color: var(--primary);
    }
    @include tablet-min {
      font-size: 14px;
      line-height: 136%;
    }
  }
  &__descr {
    @include overflowText(2);
    font-size: 14px;
    line-height: 157%;
    color: rgba(0, 0, 0, 0.54);
    margin: 0px 0px 16px 0px;

    @include tablet-min {
      @include overflowText(1);
      font-size: 12px;
      line-height: 142%;
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: auto;
  }
  &__btn {
    font-size: 14px;
    line-height: 157%;
    padding: 9px 20px;

    @include tablet-min {
      display: none;
    }

    svg {
      width: 18px;
      height: 18px;
    }
  }
  &__order {
    display: flex;
    align-items: center;
    gap: 2px;

    font-size: 14px;
    line-height: 157%;

    @include hover {
      svg {
        transform: translateX(5px);
      }
    }

    @include tablet-min {
      justify-content: center;
      gap: 6px;
      padding: 8px;
      border-radius: 100px;
      background-color: rgba(0, 0, 0, 0.1);
      width: 100%;
    }

    svg {
      width: 18px;
      height: 18px;
      transition: transform 0.3s ease;
    }
  }
}
