.card-video {
  position: relative;
  display: flex;
  align-items: flex-end;
  z-index: 1;
  border-radius: 20px;
  padding: 16px;
  overflow: hidden;
  color: white;
  &::before,
  &::after {
    position: absolute;
    content: "";
    inset: 0;
    z-index: -2;
  }
  &::before {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.90) 100%)
  }

  @include hover {
    .card-video__img {
      transform: scale(1.07);
    }
  }

  @media (max-width: 1099px) {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  &__time {
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 100px;
    padding: 2px 8px;
    backdrop-filter: blur(26px);
    background: rgba(0, 0, 0, 0.4);

    font-weight: 500;
    font-size: 12px;
    line-height: 133%;

    z-index: 1;
  }
  &__gallery {
    @media (max-width: 1099px) {
      @include flex-center;
      position: relative;

      width: 100%;
      height: 60%;
      @include tablet-min {
        height: 65%;
      }
    }
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -3;
    transition: transform .3s ease;
    @media (max-width: 1099px) {
      position: static;
    }
  }
  &__link {
    position: absolute;
    inset: 0;
    display: block;
    z-index: -1;
  }
  &__body {
    max-width: 695px;

    transition: opacity 0.3s ease;
    @include hover {
      opacity: 0.8;
    }
    @media (max-width: 1099px) {
      display: flex;
      flex-direction: column-reverse;
      padding: 16px;
      background-color: white;
      width: 100%;
      max-width: none;
      color: black;
      flex: 1;
    }
  }
  &__date {
    font-weight: 500;
    font-size: 14px;
    line-height: 157%;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 8px;
    @media (max-width: 1099px) {
      color: rgba(0, 0, 0, 0.54);
      margin: 4px 0px 0px 0px;
    }
  }
  &__descr {
    @include overflowText(2);
    font-weight: 500;
    font-size: 24px;
    line-height: 125%;
    margin: 0;
    @include tablet {
      font-size: 20px;
    }
    @include tablet-min {
      font-size: 14px;
      line-height: 136%;
      color: rgba(0, 0, 0, 0.87);
    }
  }
  &__play-btn {
    @include flex-center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 105px;
    height: 105px;

    backdrop-filter: blur(26px);
    box-shadow: 0 2px 40px 0 rgba(32, 31, 37, 0.06);
    background-color: rgba(255, 255, 255, 0.08);

    transition:
      color 0.3s ease,
      background-color 0.3s ease;

    @include hover {
      background-color: rgba(255, 255, 255, 0.3);
    }

    @media (max-width: 1099px) {
      width: 70px;
      height: 70px;

      svg {
        width: 28px;
        height: 28px;
      }
    }

    svg {
      width: 40px;
      height: 40px;
      margin-left: 3px;
    }
  }
}
