.slider-nav {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 32px;
  margin-left: auto;
  width: fit-content;

  &._mob-off {
    @include tablet {
      display: none;
    }
  }

  &__btn {
    @include flex-center;
    width: 40px;
    cursor: pointer;
    height: 40px;
    border-radius: 50%;
    flex-shrink: 0;

    background-color: rgba(0, 0, 0, 0.1);

    transition:
      background-color 0.3s ease,
      opacity 0.3s ease,
      color 0.3s ease;

    @include hover {
      background-color: rgba(0, 0, 0, 0.2);
    }

    &._white {
      background-color: rgba(246, 246, 246, 0.24);
      @include hover {
        background-color: rgba(246, 246, 246, 0.44);
      }
    }
    &._gray {
      background-color: var(--gray);
      @include hover {
        background-color: black;
        color: white;
      }
    }

    &.swiper-button-disabled {
      pointer-events: none;
      opacity: 0.3;
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.slider-pagination {
  @include flex-center;
  gap: 8px;

  &._white {
    .swiper-pagination-bullet {
      background-color: rgba(255, 255, 255, 0.16);

      @include hover {
        background-color: rgba(255, 255, 255, 0.32);
      }

      &.swiper-pagination-bullet-active {
        flex-basis: 32px;
        background-color: rgba(255, 255, 255, 0.32);
      }
    }
  }

  .swiper-pagination-bullet {
    display: block;
    margin: 0 !important;
    flex: 0 1 8px;
    aspect-ratio: 1/1;
    border-radius: 4px;
    opacity: 0.6;
    background-color: rgba(0, 0, 0, 0.16);
    transition:
      background-color 0.3s ease,
      flex-basis 0.3s ease;

    @include hover {
      background-color: rgba(0, 0, 0, 0.32);
    }

    &.swiper-pagination-bullet-active {
      flex-basis: 32px;
      background-color: rgba(0, 0, 0, 0.32);
    }
  }
}
