.burger-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.32);
  backdrop-filter: blur(65px);

  opacity: 0;
  visibility: hidden;

  transition:
    opacity 0.4s ease,
    visibility 0.4s ease;

  z-index: 190;

  &._active {
    opacity: 0.5;
    visibility: visible;
  }
}
.burger {
  position: fixed;
  top: 0;
  max-height: 100svh;
  width: 500px;
  max-width: 100%;
  left: calc(50% - 250px);
  overflow-y: auto;
  z-index: 200;

  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);

  transition:
    opacity 0.4s ease,
    visibility 0.4s ease,
    transform 0.4s ease;

  @media (max-width: 499px) {
    left: 0;
  }

  &._open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  &__body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: white;
    border-radius: 0 0 20px 20px;
  }
  &__container {
    max-width: 500px;
    padding: 0 12px;
    margin: 0 auto;
  }
  &__head {
    @include flex-between;
    padding: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }
  &__logo {
    display: block;
    width: 125px;

    img {
      display: block;
      width: 100%;
    }
  }
  &__close {
    @include flex-center;
    cursor: pointer;
    width: 40px;
    height: 40px;

    color: rgba(0, 0, 0, 0.56);

    transition: color 0.3s ease;

    @include hover {
      color: black;
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }
  &__spollers {
    padding: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }
  &__spoller {
  }
  &__spoller-btn {
    @include flex-between;
    gap: 10px;
    padding: 12px 0px;

    font-weight: 500;
    font-size: 16px;
    line-height: 137%;
    color: rgba(0, 0, 0, 0.87);

    &._spoller-active {
      svg {
        transform: rotate(180deg);
      }
    }

    svg {
      width: 24px;
      height: 24px;

      transition: transform 0.3s ease;
    }
  }
  &__spoller-body {
    border: 1px solid #e9eaeb;
    border-radius: 20px;
    box-shadow:
      0 4px 6px -2px rgba(10, 13, 18, 0.03),
      0 12px 16px -4px rgba(10, 13, 18, 0.08);
  }
  &__spoller-head {
    padding: 24px 16px;
    border-bottom: 1px solid #e9eaeb;
    font-size: 14px;
    line-height: 143%;
    color: rgba(0, 0, 0, 0.56);
  }
  &__spoller-list {
    padding: 25px 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .spoller-btn {
      @include flex-between;
      gap: 10px;

      font-weight: 500;
      font-size: 16px;
      line-height: 150%;

      &._spoller-active {
        svg {
          transform: rotate(180deg);
        }
      }

      svg {
        width: 24px;
        height: 24px;

        transition: transform 0.3s ease;
      }
    }
  }
  &__sublist {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    gap: 6px;

    a {
      font-size: 16px;
    }
  }
  &__list {
    padding: 24px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    row-gap: 12px;

    a {
      font-weight: 500;
      font-size: 16px;
      line-height: 137%;
      color: rgba(0, 0, 0, 0.56);

      transition: color 0.3s ease;

      @include hover {
        color: black;
      }
    }
  }
  &__contacts {
    padding: 24px 16px 16px 16px;
  }
  &__contacts-buttons {
    @include flex-center;
    gap: 50px;
    margin-bottom: 24px;
  }
  &__contacts-btn {
    display: flex;
    align-items: center;
    gap: 8px;

    font-weight: 500;
    font-size: 14px;
    line-height: 157%;
    color: rgba(0, 0, 0, 0.56);

    transition: color 0.3s ease;

    @include hover {
      color: black;
    }

    svg {
      width: 18px;
      height: 18px;
    }
  }
  &__btn-order {
    width: 100%;
  }
}
